USE [master]
GO
/****** Object:  Database [ClientSystem]    Script Date: 2019-11-09 1:14:18 AM ******/
CREATE DATABASE [ClientSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClientSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\ClientSystem.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ClientSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\ClientSystem_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClientSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClientSystem]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 2019-11-09 1:14:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserFirstName] [varchar](150) NOT NULL,
	[UserLastName] [varchar](150) NOT NULL,
	[UaserAddress] [varchar](max) NOT NULL,
	[UserPhone] [int] NOT NULL,
	[UserEmail] [varchar](250) NOT NULL,
	[UserDOB] [date] NOT NULL,
	[UserPassword] [varchar](max) NOT NULL,
 CONSTRAINT [PK__UserProf__1788CC4C5F4EB18B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__UserProf__08638DF854D69A69] UNIQUE NONCLUSTERED 
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
